* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
    ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
  background-color: darkslategray;
}

/* Page Layout */
.columns {
  display: flex;
  flex-wrap: wrap;
}

.wrapper {
  display: flex;
}
.container {
  max-width: 960px;
  margin-top: 25px;
}

.heading {
  background-color: rgb(245, 124, 239);
  height: 100px;
  width: 1390px;
  align-content: center;
  justify-content: flex-start;
  display: inline-block;
  border-radius: 4px;
  padding: 15px;
  margin-bottom: 5px;
  margin: 20px 25px;
  font-family: ‘DejaVu Sans’;
  font-size: xx-large;
}